:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark-color: #2e2f42;
  --light-color: #f4f4fd;
  --body-color: #434455;
  --white-background: #ffffff;
  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* page wrapper */

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* header */

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  z-index: 999;
  padding-left: 40px;
}
.close-menu-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 24px 24px 32px auto;
  /* transition: background-color var(--transition-effect),
    border var(--transition-effect); */
}

.mobile-menu-list {
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.open-menu-icon {
  fill: #2e2f42;
}

.close-menu-icon {
  fill: #2e2f42;
}

.open-menu-btn {
  border: none;
  background-color: transparent;
  margin: 24px 0;
}

.mobile-contacts-menu {
}
.mobile-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-phone-link {
  color: #4d5ae5;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-email-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.span-logo {
  color: var(--dark-color);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--white-background);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}

.header-menu {
  display: none;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts-menu {
  display: none;
}

.contacts {
  font-style: normal;
}

.contacts-menu-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-menu-link:hover,
.contacts-menu-link:focus {
  color: var(--pressed-state);
}

/* mobile menu socials */

.mobile-menu-socials {
}
.mobile-social-list {
  display: flex;
}

.mobile-social-item {
}
.mobile-social-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mobile-social-icon {
  fill: #f4f4fd;
}

/* hero */

.section-hero {
  background-color: var(--dark-color);
  padding: 112px 0px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1440px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-hero@2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);
  max-width: 320px;
  padding-bottom: 72px;
  margin: 0 auto;
  text-transform: capitalize;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-background);
  background-color: var(--primary-brand);
  padding: 16px 32px;
  margin: auto;
  align-self: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-effect);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* features */

.section-features {
  background-color: var(--white-background);
  padding: 96px 0;
}

.features-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.features-item {
  width: 100%;
}

.features-item > h3 {
  margin-bottom: 8px;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
}

.features-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-item-block {
  display: none;
}

/* services */

.section-services {
  display: none;
}

/* our team */

.section-our-team {
  background-color: var(--light-color);
  padding: 96px 0;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}

.team-list {
  display: flex;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-intro {
  padding: 32px 0;
}

.team-member {
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  text-align: center;
}

.team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.team-socials-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--pressed-state);
}

.team-socials-icon {
  fill: #f4f4fd;
}

/* customers */

.section-customers {
  background-color: var(--white-background);
  padding: 96px 0;
}
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  /* justify-content: space-between; */
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.customers-item {
  height: 88px;
  width: calc((100% - 16px) / 2);
}

.customers-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  border-color: #8e8f99;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item-link:hover,
.customers-item-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.customers-item-icon {
  fill: #8e8f99;
  transition: fill var(--transition-effect);
}

.customers-item-link:hover .customers-item-icon,
.customers-item-link:focus .customers-item-icon {
  fill: #404bbf;
}

/* footer */

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-bottom: 16px;
  display: inline-block;
}

.span-logo-footer {
  color: var(--light-color);
}

.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  width: 264px;
}

.footer-inf {
  margin-right: 120px;
}

.footer-social {
  margin-right: 80px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-icon {
  fill: #f4f4fd;
}

/* footer subscribe */

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  height: 40px;
  width: 264px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-icon {
  fill: #f4f4fd;
  margin-left: 16px;
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-brand);
  color: var(--white-background);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-effect);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #31d0aa;
}

/* portfolio */

.section-portfolio-display {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand);
  background-color: var(--light-color);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--pressed-state);
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.project-item-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-item {
  margin-right: 24px;
  margin-bottom: 48px;
}

.project-item:nth-child(3) {
  margin-right: 0;
}
.project-item:nth-child(6) {
  margin-right: 0;
}
.project-item:nth-child(9) {
  margin-right: 0;
  margin-bottom: 0;
}
.project-item:nth-child(7) {
  margin-bottom: 0;
}
.project-item:nth-child(8) {
  margin-bottom: 0;
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-txt {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background-color: var(--primary-brand);
  transition: transform var(--transition-effect);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link:hover .portfolio-cover-txt,
.project-link:focus .portfolio-cover-txt {
  transform: translateY(0%);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-effect),
    visibility var(--transition-effect);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-effect);
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-effect);
}

.modal-input:focus {
  border-color: var(--primary-brand);
}

.modal-input:focus + .modal-field-icon {
  fill: var(--primary-brand);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition-effect),
    border var(--transition-effect);
}

.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-button-icon {
  fill: #2e2f42;
  transition: fill var(--transition-effect);
}

.modal-button:hover .modal-button-icon {
  fill: #ffffff;
}
.modal-button:focus .modal-button-icon {
  fill: #ffffff;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color var(--transition-effect);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--pressed-state);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-field-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-effect);
}

.input-wrap {
  position: relative;
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-effect);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: var(--primary-brand);
}

.checkbox-field {
  margin-bottom: 24px;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  text-decoration-line: underline;
  color: var(--primary-brand);
}

.checkbox-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color var(--transition-effect),
    border var(--transition-effect), fill var(--transition-effect);
}

.checkbox-modal:checked + .checkbox-text > .checkbox-span {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light-color);
}

.checkbox-modal:focus + .checkbox-text > .checkbox-span {
  border-color: var(--pressed-state);
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--pressed-state);
  }

  .header-menu-link.current {
    color: #404bbf;
  }

  .contacts-menu {
    display: flex;
    gap: 40px;
  }

  .features-container {
    max-width: 760px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-title {
    text-align: left;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .customers-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .customers-container {
    max-width: 582px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 36px;
    max-width: 496px;
  }

  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-hero@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-item-block {
    background: var(--light-color);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-features {
    padding: 120px 0;
  }

  .features-list {
    column-gap: 24px;
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-txt {
    font-weight: 400;
  }

  .section-services {
    background-color: var(--white-background);
    padding-bottom: 120px;
    display: block;
  }

  .services-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
  }

  .services-list {
    display: flex;
    gap: 24px;
  }

  .services-list-item {
    width: calc((100% - 48px) / 3);
    border: 1px solid #e7e9fc;
  }

  .section-our-team {
    padding: 120px 0;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .section-customers {
    padding: 120px 0;
  }

  .customers-list {
    gap: 24px;
  }

  .section-hero {
    padding: 188px 0px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-hero.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop-hero@2x.jpg);
    }
  }

  .hero-title {
    padding-bottom: 48px;
  }

  /* .hero-container {
    padding: 0 316px;
  } I DON'T KNOW IF I NEED THIS*/
}
